@CHARSET "UTF-8";
*{
margin:0;
padding:0;
border:0;
font-fimily="微软雅黑";
font-size:18px;
}

.loginpart{
width:400px;
height:250px;
margin-left:440px;
margin-top:150px;
text-align:center;
background-image:url(image/img10.jpg);
}
.username input{
width:200px;
height:30px;
margin-top:50px;
border:1px solid #708090;
}
.password input{
border:1px solid #708090;
width:200px;
height:30px;
}

.username, .password{
margin-top:40px;
}
.submit{
text-align:center;
margin-left:35px;
margin-top:20px;
}
.submit input{
width:50px;
height:30px;
margin-left:30px;

}